<div>
    <h2>Login</h2>
    <form #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" ngModel>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ngModel>
      </div>
      <button (click)="onSignIn()">Sign In</button>
      <button (click)="onReset()">Reset</button>
      <button (click)="onSignUp()">Sign Up</button>
    </form>
  </div>
  